@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

:root {
    --text : #EDF1F7;
    --red: #C51212;
    --blue: #0041C2;
    --green: #14b02d;
    --yellow: #ffc12b;
}

body, button, a {
    color: var(--text);
    font: 400 1rem "Lato", sans-serif;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/*background*/

#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content:'';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(255, 191,74 , 0.99) 15%, rgba(73, 8, 12, 0.7) 50%, rgba(61, 41, 48, 0.99) 85%);
}

/* header */

header {
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
}

header img {
    width: 70px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}

.navigation_link {
    font-size: 14px;
    font-weight: 300;
    white-space: 2px;
    text-transform: uppercase;

    position: relative;
}

.navigation_link:hover {
    color: #ff0000;
}

.navigation_link::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: #ff0000;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

.navigation_social {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation_social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.4s;
}

.navigation_social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}

/* main */

main {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
}

.main_info {
    width: 100%;
    max-width: 570px;
}

.main_info p {
    font-size: 18px;
    margin-right: 1800px;
}

.main_info div {
    display: flex;
    column-gap: 32px;
}

.main_info div a, .main_info div button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    transform: skew(-9deg);
}

.main_info div button {
    background: transparent;
    border: 1px solid #ff0000 ;
}

.texto-p {
    position: absolute;
    max-width: 80%; 
    margin-right: 700px;
    margin-left: 400px;
    margin-bottom: 150px;
}

.img-texto {
    width: 400px;
    max-width: 80%; 
    margin-right: 900px;
    margin-left: 510px;
    margin-bottom: 670px;
}

.highlighted-text {
    color: #ff0000;
    font-weight: bold;
}
